#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.canvas {
  margin-top: 20px;
  background: radial-gradient(circle,rgba(6,92,55,1) 0%,rgba(0,39,25,1) 100%);
  width: 800px;
  height: 600px;
  position: relative;
}

.board-top {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.board-left {
  position: absolute;
  top: 35%;
  left: 10px;
  transform: translateY(-50%);
  display: flex;
  gap: 20px;
  align-items: center;
  height: 350px;
}

.board-middle {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
}

.board-right {
  position: absolute;
  top: 35%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 20px;
  height: 350px;

}

.board-bottom {
  width: 750px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX( -50%);
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.board-container {
  background-image: url(./assets/istaka.png);
  background-position: center;
  height: 192px;
}

.tile-container {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 1fr 1fr;
  padding: 0 20px;
  width: 710px;
  height: 172px;
}

.tile {
  width: 100%;
  height: 96%;
  background-color: rgba(255, 255, 255, 0.8);
  line-height: 50px;
  color: black;
  font-weight: bold;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  margin: 2px 0;
  cursor: grab;
}

.tile:active {
  cursor: grabbing;
}

.tile .num {
  user-select: none;
}

.tile .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  background-clip: padding-box;
  border: 4px solid transparent;
  outline: 2px solid rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1)
}

.tile:active {
  cursor: move; /* Cursor style when dragging */
}

.color0 .num {
  color: skyblue;
}
.color0 .circle {
  background-color:skyblue;
}

.color1 .num {
  color:red;
}
.color1 .circle {
  background-color:red;
}
.color2 .num {
  color:green;
}
.color2 .circle {
  background-color:green;
}
.color3 .num {
  color: brown;
}
.color3 .circle {
  background-color: brown;
}
.color4 .num {
  color:cornflowerblue;
}
.color4 .circle {
  background-color:cornflowerblue;
}

.cue-horizontal {
  background-color: rgb(158, 93, 38);
  height: 200px;
  width: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)

}

.cue-vertical {
  background-color: rgb(158, 93, 38);
  height: 10px;
  width: 200px;
  box-shadow:  0 4px 8px rgba(0, 0, 0, 0.4)
}

.user-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.user {
  border: .1vh solid #fff;
  background-color: transparent;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.user.active {
  border: .5vh solid green;
}

.dropzone {
  border: 2px solid #2f5039;
  width: 54px;
  height: 82px;
  border-radius: 8px;
  padding: 5px;
}